<header class="modern-header">
    <div class="header-container">
        <div class="logo">
            <a href="/home">
                <img src="../assets/favicon.png" alt="Website Logo">
            </a>
        </div>
        <nav class="main-nav">
            <a href="/insights" class="header-link">Insights</a>
            <a href="/communities" class="header-link">Communities</a>
            <a href="/account" class="header-link">Account</a>
            <a href="/submit" class="header-link">Submit</a>
            <a href="/home" class="header-link">Home</a>
            <a href="/index" id="authButton" class="header-link auth-button">Login / Sign Up</a>
        </nav>
    </div>
</header> 